:root {
  --cst-bg-body: #f0f0f1;
  --cst-bg-dark: #0c1025;
  --cst-bg-red: #c9183f;
  --cst-bg-violet: #d1c2c7;
  --cst-bg-orange: #eabcac;
  --cst-text-red: #d1143d;
  --cst-text-white: #fff;
  --cst-text-light-gray: #a19b9b;
  --cst-text-body: #0c1025;
  --cst-fs-heading: 2.2rem;
  --cst-fs-subheading: 1.5rem;
  --cst-fs-lg: 1.2rem;
  --cst-fs-medium: 1.1rem;
}

.cst-body,
.cst-body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}
.cst-body h1,
.cst-body h2,
.cst-body h3,
.cst-body h4,
.cst-body h5,
.cst-body h6 {
  font-size: var(--cst-fs-lg);
}
.cst-body img {
  display: block;
}
.cst-body {
  min-height: 100vh;
  background-color: var(--cst-bg-body);
  color: var(--cst-text-body);
  font-size: var(--cst-fs-medium);
}

.cst-body ul {
  list-style: none;
}
.cst-body a {
  text-decoration: none;
}
.cst-body p {
  line-height: 1.6;
}

/* GRID STYLES START HERE */
.cst-hero-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
.cst-hero-grid-item-1 {
  grid-column: 1/3;
  grid-row: 1 / 2;
}
.cst-hero-grid-item-2 {
  grid-column: 3/7;
  grid-row: 1 / 6;
  background: #304735;
}
.cst-hero-grid-item-3 {
  grid-column: 4/7;
  grid-row: 6 / 9;
  background: #363047;
}
.cst-hero-grid-item-4 {
  grid-column: 1 /4;
  grid-row: 2 / 9;
  background: #47303e;
  z-index: 2;
}

.cst-logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cst-logo-container > img {
  width: 200px;
  object-fit: cover;
}

.cst-banner {
  height: 100%;
  width: 100%;
  position: relative;
}
.cst-banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.cst-case-study {
  background-color: var(--cst-bg-body);
  height: 100%;
}
.cst-case-study .cst-case-study-box {
  width: 90%;
  margin-left: auto;
  padding: 2.5rem;
  transform: translateY(-50%);
  margin-bottom: -50px;
  background-color: var(--cst-bg-red);
}
.cst-case-study .cst-case-study-box p {
  color: var(--cst-text-white);
  line-height: 24px;
}
.cst-case-study-details {
  padding: 2rem;
}
.cst-case-study-details > h2 {
  font-size: var(--cst-fs-heading);
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.cst-case-study-details-text {
  margin-bottom: 1.2rem;
}

.cst-about-container {
  height: 100%;
  border-right: 8px solid red;
  background-color: var(--cst-bg-dark);
  padding: 3rem;
}
.cst-about-info {
  margin-bottom: 5rem;
  color: var(--cst-text-light-gray);
}
.cst-about-info-item {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--cst-text-light-gray);
}
.cst-about-menu {
  margin-top: 1.5rem;
  color: var(--cst-text-light-gray);
}
.cst-about-title {
  font-size: var(--cst-fs-subheading);
  text-transform: uppercase;
  color: var(--cst-text-light-gray);
  padding: 5px 0;
}
.cst-about-text {
  padding: 5px 0;
}
.cst-about-text span {
  margin-right: 0.7rem;
  /* font-weight: 600; */
}
.cst-about-title-dot {
  position: relative;
  margin-bottom: 2rem;
}
.cst-about-title-dot::after {
  position: absolute;
  content: "";
  background-color: var(--cst-bg-body);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 2px;
  top: 100%;
  transform: translateY(50%);
}

.cst-results {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  gap: 100px;
}
.cst-results-left {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}
.cst-results-left p {
  font-weight: 500;
  padding-right: 3rem;
}
.cst-results-left p::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 95%;
  transform: translateY(-50%);
  background-color: var(--cst-text-body);
  right: 0;
  top: 50%;
  opacity: 0.2;
}

.cst-results-center {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-items: center;
  gap: 50px;
}

.cst-results-card h2 {
  font-size: var(--cst-fs-lg);
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
}
.cst-results-card p {
  position: relative;
  width: 150px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cst-text-white);
  font-size: var(--cst-fs-heading);
  background-color: var(--cst-bg-dark);
}

.cst-results-card p::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  top: -10%;
  transform: translateY(50%);
  transform: translateX(-50%);
  background-color: var(--cst-bg-dark);
  transform: rotate(45deg);
}
.cst-results-card:first-of-type p,
.cst-results-card:first-of-type p::before,
.cst-results-card:last-of-type p,
.cst-results-card:last-of-type p::before {
  background-color: var(--cst-bg-red);
}

.cst-results-right {
  flex: 1;
}
.cst-results-right > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.cst-container {
  max-width: 1920px;
  width: 90%;
  margin: 0 auto;
}
.cst-solution {
  display: flex;
  gap: 70px;
  min-height: 100vh;
  padding-top: 3.2rem;
}
.cst-solution-left {
  flex-basis: 50%;
}
.cst-solution-left img {
  width: 100%;
  height: 530px;
  object-fit: cover;
}
.cst-services {
  background-color: var(--cst-bg-violet);
  border-right: 8px solid var(--cst-bg-red);
  margin-top: 3rem;
}
.cst-services-content {
  padding: 3rem;
}
.cst-services-title {
  text-transform: uppercase;
  font-size: var(--cst-fs-subheading);
  letter-spacing: 1.2px;
  margin-bottom: 1rem;
}
.cst-services-text {
  line-height: 1.5rem;
}
.cst-services-list {
  list-style: none;
  margin-top: 1.2rem;
  margin-bottom: 3.5rem;
}
.cst-services-list-item {
  line-height: 1.2rem;
  padding: 5px 0;
}
.cst-services-list-item span {
  margin-right: 0.8rem;
  font-weight: 600;
}
.cst-services-footer {
  background-color: var(--cst-bg-dark);
  padding: 3rem;
}
.cst-services-footer-text {
  color: var(--cst-text-light-gray);
  line-height: 1.8rem;
  letter-spacing: 1.1px;
}

.cst-solution-right {
  flex-basis: 50%;
}

.cst-solution-benifits > h2 {
  font-size: var(--cst-fs-subheading);
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-weight: 800;
}
.cst-title-dot {
  position: relative;
  margin-bottom: 2rem;
}
.cst-title-dot::after {
  position: absolute;
  content: "";
  background-color: var(--cst-text-body);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 2px;
  top: 100%;
  transform: translateY(50%);
}
.cst-solution-benifits-text {
  line-height: 1.5rem;
}
.cst-benifits-list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}
.cst-benifits-list > li {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  list-style: none;
}
.cst-benifits-list > li > h4 {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cst-text-white);
  font-size: var(--cst-fs-subheading);
  background-color: var(--cst-bg-red);
}
.cst-benifits-list > li:nth-of-type(2) > h4 {
  background-color: var(--cst-bg-dark);
}
.cst-benefits-list-info {
  list-style: none;
}
.cst-benefits-list-info > h4 {
  line-height: 1;
  margin-bottom: 0.5rem;
  font-size: var(--cst-fs-lg);
  color: var(--cst-text-red);
  font-weight: 700;
}
.cst-solution-benifits-img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.cst-solution-contact {
  margin-top: 2rem;
  border-bottom: 2.5rem solid var(--cst-bg-orange);
  padding: 20px;
  padding-bottom: 2rem;
}
.cst-solution-contact-logo {
  width: 150px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 1.5rem;
}
.cst-solution-contact-text {
  line-height: 1.5rem;
}
.cst-solution-contact hr {
  height: 0;
  width: 100%;
  border: 1px solid var(--cst-text-light-gray);
  margin: 1.5rem 0;
}
.cst-contact-list {
  list-style: none;
}
.cst-contact-list > li {
  font-size: var(--cst-fs-lg);
  padding: 3px 0;
}
.cst-contact-list > li span {
  font-weight: 700;
  margin-right: 15px;
}
@media (min-width: 960px) and (max-width: 1250px) {
  .cst-container {
    width: 95%;
  }
  .cst-solution {
    gap: 40px;
  }
  .cst-results-right img {
    min-width: 600px;
  }
}
@media (max-width: 960px) {
  .cst-case-study {
    display: flex;
    flex-direction: column-reverse;
  }
  .cst-case-study-details {
    padding-inline: 0px;
  }
  .cst-case-study .cst-case-study-box {
    margin: 0;
    width: 100%;
    transform: translateY(0);
    padding: 2rem;
  }

  .cst-hero-grid-item-1 {
    grid-column: 1/7;
    grid-row: 1/2;
  }
  .cst-hero-grid-item-2 {
    grid-column: 1/7;
    grid-row: 2/6;
  }
  .cst-hero-grid-item-3 {
    grid-column: 1/7;
    grid-row: 10/15;
  }
  .cst-hero-grid-item-4 {
    grid-column: 1/7;
    grid-row: 6/10;
  }
  .cst-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px 0;
  }
  .cst-results-left {
    flex-basis: 100%;
    gap: 30px;
    padding-top: 30px;
  }
  .cst-results-left::after {
    display: none;
  }
  .cst-results-center {
    flex-basis: 100%;
    gap: 30px;
    flex-shrink: 0;
  }
  .cst-results .right {
    flex-basis: 100%;
    gap: 30px;
  }

  .cst-results-center {
    order: 3;
  }
  .cst-solution {
    flex-direction: column;
  }
  .cst-solution-left {
    flex-basis: 100%;
  }
  .cst-solution-right {
    flex-basis: 100%;
  }
}
@media (max-width: 640px) {
  .cst-results-card h2 {
    font-size: 1rem;
  }
  .cst-container {
    width: 100%;
  }
  .cst-case-study-details {
    padding: 50px 20px;
  }
  .cst-case-study-details > h2 {
    font-size: var(--cst-fs-subheading);
  }
  .cst-about-container {
    height: 100%;
    border-right: 5px solid var(--cst-bg-red);
    background-color: var(--cst-bg-dark);
    padding: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .cst-results {
    padding: 0;
  }
  .cst-results-left {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 0;
  }

  .cst-results-left p {
    padding-right: 0;
  }
  .results_grid {
    padding-top: 3rem;
    padding-bottom: 0;
  }

  .cst-services {
    border-right: 5px solid var(--cst-bg-red);
  }
  .cst-services-content {
    padding: 20px;
    padding-top: 40px;
  }
  .cst-services-footer {
    padding: 20px;
  }
  .cst-solution-benifits {
    padding: 20px;
  }

  .cst-benifits-list > li {
    gap: 2rem;
  }

  .cst-benefits-list-info-item {
    line-height: 1.3rem;
    font-size: 16px;
  }
  .cst-solution {
    gap: 30px;
    padding-top: 3.2rem;
  }
}
